<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>189396799545-7tkuihk06iv1ibvrbek0m25m7md544cg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.189396799545-7tkuihk06iv1ibvrbek0m25m7md544cg</string>
	<key>API_KEY</key>
	<string>AIzaSyBblU_jhQWFsRNdsZo-_HifzBy8Oj60zuE</string>
	<key>GCM_SENDER_ID</key>
	<string>189396799545</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>exchange.messenger</string>
	<key>PROJECT_ID</key>
	<string>exchange-ce527</string>
	<key>STORAGE_BUCKET</key>
	<string>exchange-ce527.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:189396799545:ios:37306ddcb55aecb6897de8</string>
	<key>DATABASE_URL</key>
	<string>https://exchange-ce527.firebaseio.com</string>
</dict>
</plist>